---
import { SITE } from "@/siteConfig";
import GitHash from "./GitHash.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

const year = new Date().getFullYear();
---

<footer
  class="mx-auto flex w-full flex-col items-start gap-6 pt-16 pb-24 sm:flex-row sm:items-center sm:justify-between sm:gap-8"
>
  <ThemeToggle />
  <div class="prose mt-2">
    <span class="block">© {year} {SITE.author}</span>
    <span class="text-muted-text dark:text-dark-muted-text block text-sm">
      Last updated <GitHash />
    </span>
  </div>
</footer>
